body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  overflow-x: hidden;
}
main{
  margin: 20px 10%;
}
.navbar {
  background-color: green;
  overflow: hidden;
  height: 56px;
}

.navbar-inside {
  margin: 0 5%;
}

.brand {
  font-weight: bold;
  margin-top: 4px;
}

.navbar ul {
  margin: 4px 20px 0;
  padding-left: 0px;
  list-style: none;
}

.navbar a {
  float: left;
  display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
}

.side-nav {
  height: 100%;
  width: 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #e02f2f;
  display: block;
}

footer{
  text-align: center;
}

